{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Individual blog post{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
        <header>
            <div>
                <h1>{{ post['title'] }}</h1>
                <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
            </div>
        </header>
        <p class="body">{{ post['body'] }}</p>
        
        <!-- LIKES/DISLIKES -->
        <div class="likes">
            <a class="like" href="{{ url_for('blog.like_post', id=post['id']) }}">👍 {{ post['likes_count'] }}</a>
            <a class="dislike" href="{{ url_for('blog.like_post', id=post['id']) }}">👎 {{ post['username'] }}</a>
        </div>
    </article>
{% endblock %}