{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}  

  <!-- SEARCH BOX -->
  <form method="post" action="{{ url_for('blog.search_post') }}">
    <label for="search"></label>
    <input id="search" name="search" placeholder="Enter title search ..." value="{{ request.form['search'] }}">
    <input type="submit" value="Search">
  </form>

  <!-- ALL TAGS -->
  <br>
  <span>All tags:</span>
  {% for item in all_tags if item %}
    <a href="{{ url_for('blog.viewtag', tag=item) }}"><span class="tags">{{ item }}</span></a>
  {% endfor %} 

  <p>Watching {{ 'all tags' if not current_tag else current_tag + ' tag' }}</p>

  <!-- PAGINATION -->
  {% set n = total_posts // 5 %}
  {% set n = n if n*5 >= total_posts else n+1 %}
  <div class="pagination_container">
  {% for i in range(1,n+1) %}
    {% if page_index == i %}
      <a class="pagination_button pagination_button_active" href="{{ url_for('blog.index_by_page', page_index = i) }}">{{i}}</a>
    {% else %}
      <a class="pagination_button" href="{{ url_for('blog.index_by_page', page_index = i) }}">{{i}}</a>
    {% endif %}
    
  {% endfor %}
  </div>

  {% for post in posts %}
    <article class="post">
      
      <header>
        <div>
          <a href="{{ url_for('blog.view_post', id=post['id']) }}"><h1>{{ post['title'] }}</h1></a>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>

      <!-- TAGS -->
      {% for item in post['tags'].split(',') if item %}
        <span class="tags">{{ item }}</span>  
      {% endfor %}

      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  

  

{% endblock %}